


#formLogin {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 100px 200px 10px 200px;
    padding-bottom: 20px;
}

.inputLogin {
    margin-bottom: 20px;
    width: 500px;
}


label {
    margin-bottom: 5px;
}

#inputNovaSenha {
    margin-bottom: 0px;
}

#divNovaSenha {
    margin-top: 0px;
}

#novaSenha {
    font-size: 14px;
    color: red;
}

#inputRepetirSenha {
    margin-bottom: 0px;
}

#divRepetirSenha {
    margin-top: 0px;
}

#repetirSenha {
    font-size: 14px;
    color: red;
}