


#formLogin {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 100px 200px 10px 200px;
    padding-bottom: 20px;
}

.inputLogin {
    margin-bottom: 20px;
    width: 500px;
}


label {
    margin-bottom: 5px;
}

#inputNovaSenha {
    margin-bottom: 0px;
}

#divNovaSenha {
    margin-top: 0px;
}

#novaSenha {
    font-size: 14px;
    color: red;
}

#inputRepetirSenha {
    margin-bottom: 0px;
}

#divRepetirSenha {
    margin-top: 0px;
}

#repetirSenha {
    font-size: 14px;
    color: red;
}

/* Modal popup */
.modal {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px #333;
    min-width: 320px;
    position: fixed;
    left: 50%;
    padding: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }
  
  .overlay {
    background: #000;
    height: 100vh;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
  }


  /* Responsivo */
@media only screen and (max-width: 950px) {
    input.inputLogin {
      width: 300px;
    }

    #formLogin {
        background-color: rgb(55, 0, 107);
        color: #fff;
    }
  }