<form  id="formLogin" [formGroup]="meuForm">
  <h1>Acesso</h1>
  <div class="mb-6">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="text" class="form-control inputLogin" id="exampleInputEmail1" (keyup)='verificarForm()'  autocomplete="off" formControlName="email">
  </div>
  <div class="mb-6">
    <label for="exampleInputPassword1" class="form-label">Senha Antiga</label>
    <input type="password" class="form-control inputLogin" id="inputSenhaAntiga" (keyup)='verificarForm()' autocomplete="off" formControlName="senhaAntiga">
  </div>
  <div class="mb-6">
    <label for="exampleInputPassword1" class="form-label">Nova senha</label>
    <input type="password" class="form-control inputLogin" id="inputNovaSenha" (blur)='verificarNovaSenha($event)' formControlName="novaSenha">
    <div id="divNovaSenha"><p id="novaSenha"></p></div>
  </div>
  <div class="mb-6">
    <label for="exampleInputPassword1" class="form-label">Repetir senha</label>
    <input type="password" class="form-control inputLogin" id="inputRepetirSenha" (keyup)='verificarRepetirSenha($event)' formControlName="repetirSenha">
    <div id="divRepetirSenha"><p id="repetirSenha"></p></div>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" [disabled]="disabledButton" (click)="open(content)">
    Enviar
  </button>
</form>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{titleResult}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label>{{textResult}}</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Fechar</button>
  </div>
</ng-template>

<hr>
